$main-blue: #659db7;
$dark-blue: #508caa;
$darker-blue: #2e5a6f;
$white: #fff;
$dark: #2a2a2a;
$darker: #121212;
$black: #000000;

$mobile: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$fullhd: 2560px;
$font-bold: url('fonts/Berlin-Sans-FB-Demi-Bold.ttf');
$font-regular: url('fonts/Berlin-Sans-FB-Regular.ttf');