<div class="copyright--container col-xs-12">
	<div class="col-xs-12">
		<p>&copy; Angelo Marucci - 2017 - Source code available at my <a href="https://gitlab.com/z-marucci/zealot-profile" target="_blank"> Personal gitlab repository</a></p>
	</div>
</div>