@font-face {
    font-family: 'Berlin-Sans-FB-Demi-Bold';
    src: $font-bold;
}

@font-face {
    font-family: 'Berlin-Sans-FB-Regular';
    src: $font-regular;
}

h1, h2 {
    font-family: Berlin-Sans-FB-Demi-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3, h4, a, p {
    font-family: Berlin-Sans-FB-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: $mobile) {
    .profile--home {
        .ph--navbar-container {
            border-color: $main-blue;
            margin-bottom: 0px;
            a {
                color: $black;
            }
            button {
                background-color: $dark-blue;
            }

            button:focus {
                background-color: $dark-blue;
            }  
            background-color: $main-blue;
            img {
                display:none;
            }

            a {
                color: $white !important;
                font-size: 20px;
            }

            a:hover {
                color: $white !important;
                background-color: $dark-blue !important;
            }
        }

        .ph--navbar {
            margin-top: 25px;
            .ph--navbar-item  {
                text-decoration: none;
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left: 10px;
                padding-right: 10px;
                text-shadow: 1px 1px $black;

            }
        }

        .ph--slider {
            .ph--slider-overlay {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.68);
                position: absolute;
                z-index: 1;
            }
            .carousel-caption {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        .main--who,
        .main--skills,
        .main--history,
        .main--contact,
        .main--footer,
        .main--cert,
        .main--portfolio {
            h2 {
                text-align: center;
                padding-bottom: 10px;
            }
        }

        .main--cert {
            li {
                text-align: center;
                padding-bottom: 20px;
                list-style: none;
            }
        }

        .main--portfolio {
            padding-bottom: 40px;
            .portfolio--row {
                h3, h4, i {
                    text-align: center;
                }
            }
        }

        .main--skills {
            .skills-row {
                text-align: center;
                h3,
                h4,
                strong {
                    z-index: 3
                }
                img {
                    max-height: 200px;
                    z-index: 0;
                    opacity: 0.35;
                }
                img:hover {
                    opacity:1.0;
                }
                div {
                    padding-bottom: 20px;
                }
            }
        }

        .main--skills {
            background-color: $main-blue;
            color: $white;
            padding-bottom: 40px;
        }

        .main--cv {
            background-color: $main-blue;
            color: $white;
            padding-bottom: 40px;

            .cv--container {
                h2 {
                    text-align: center;
                }
                .col-xs-6 {
                    text-align: center;
                    i {
                        color: $white;
                    }

                    i:hover {
                        color:$darker-blue;
                    }
                }
            }
        }

        .main--who,
        .main--history {
            padding-top: 10px;
            padding-bottom: 40px;
        }

        .main--history {
            background-color: $main-blue;
            color: $white;
            .work-history--hr {
                border-top: 3px solid $darker-blue;
                border-radius: 78px;
            }
        }
        .main--who {
            img {
                margin: 0 auto;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .who--icon-box {
                padding-top: 10px;
                i {
                    color:$main-blue;
                }
                i:hover {
                    color:$darker-blue;
                }
            }
            .who--icon-box,
            h3 {
                text-align: center;
            }
        }

        .main--footer {
            background-color: $dark;
            color: $white;
            text-align: center;
            .footer-icons {
                a:hover {
                    color: white;
                }
            }
            img {
                margin: 0 auto;
                padding-bottom: 20px;
                padding-top: 20px;
            }
            .col-xs-4 {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .footer-nav li{
                display: inline;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 20px;
                cursor: pointer;
            }

            .footer-nav {
                padding-top: 10px;
                -webkit-padding-start: 0;
            }

            .footer-nav a:hover{
                color:  white;
                text-decoration: none;
            }
        }
        
        .main--copyright {
            background-color: $darker;
            color: $white;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;

        }
    }
}

@media (min-width: $tablet) {
    .footer-nav li{
        display: inline;
        margin-left: 15px !important;
        margin-right: 15px !important;
        font-size: 20px;
    }
}

@media (min-width: $mobile-l) {
    .ph--slider {
        .carousel-caption {
            bottom: 25%;
            h1 {
                font-size: 40px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

@media (min-width: $laptop) {
    .ph--slider {
        .carousel-caption {
            h1 {
                font-size: 60px !important;
            }

            p {
                font-size: 30px !important;
            }
        }
    }
}

@media (min-width: $laptop-l) {
    .ph--slider {
        .carousel-caption {
            h1 {
                font-size: 70px !important;
            }

            p {
                font-size: 40px !important;
            }
        }
    }

    .footer-nav li {
        display: inline;
        margin-left: 25px !important;
        margin-right: 25px !important;
        a {
            font-size: 30px !important;
        }
    }
}

@media (min-width: $fullhd) {
    .ph--slider {
        .carousel-caption {
            h1 {
                font-size: 150px !important;
            }

            p {
                font-size: 90px !important;
            }
        }
    }
}